@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo aos Meus Livros</h1>
    <p>
        <a class="btn btn-success" asp-controller="Editora" asp-action="Index">
            Editoras
        </a>
        <a class="btn btn-info" asp-controller="Livro" asp-action="Index">
            Livros
        </a>
    </p>
</div>